<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app" class="app">
        <div class="container">
            <div class="title">Центр психологии и права Арины Покровской</div>
            <div v-if="currentType === 'question'" class="question">
                <p class="text" v-html="currentQuestion.text"></p>
                <div class="buttons">
                    <button class="button" @click="nextStep('yes')">Да</button>
                    <button class="button" @click="nextStep('no')">Нет</button>
                </div>
            </div>
            <div v-else class="ending">
                <p class="text" v-html="currentEnding.text"></p>
                <a v-if="activeEnding != 0" href="https://apokrov.ru/konsultaczii/" class="button">Подробнее</a>
            </div>
        </div>
    </div>

    <script>
        const {
            createApp
        } = Vue

        createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    activeStepId: 0,
                    currentType: 'question',
                    activeEnding: 0,
                    questions: [{
                        id: 0,
                        text: 'Есть ли у вас актуальная проблема, которая вас беспокоит, и Вы испытываете трудности с ее решением?',
                        no: 'e0',
                        yes: 'q1',
                    }, {
                        id: 1,
                        text: 'Ваша проблема связана с детьми (ребенком)?',
                        no: 'q2',
                        yes: 'q3',
                    }, {
                        id: 2,
                        text: 'Cвязана ли Ваша проблема со стрессом из-за тяжелого события?',
                        no: 'e0',
                        yes: 'e1',
                    }, {
                        id: 3,
                        text: 'Связана ли Ваша проблема с отношениями детей (ребенка) со вторым родителем или родственником?',
                        no: 'q4',
                        yes: 'e4',
                    }, {
                        id: 4,
                        text: 'Связана ли ваша проблема с поведением, состоянием или учебой ребенка?',
                        no: 'e2',
                        yes: 'e3',
                    }],
                    endings: [{
                        id: 0,
                        text: `Какие у Вас есть к нам вопросы или пожелания? 
                            <a href="https://apokrov.ru/kontakty/">Напишите нам или оставьте Ваши контакты</a> 
                            - мы рады будем Вам помочь!`,
                    }, {
                        id: 1,
                        text: `
                        <p>
                            Если Вы пострадали из-за нарушения Ваших прав, наши специалисты могут провести экспертизу морального вреда, юристы помогут взыскать эти деньги. При проведении обследования специалист даст подробные рекомендации, предложит поддержку наших психологов при необходимости. 
                        </p>
                        <br>
                        <div>
                            <a href="https://apokrov.ru/stoimost-psihologicheskoj-ekspertizy/">Условия проведения экспертизы</a>
                        </div>
                        <br>
                        <p>
                            Также наши специалисты (юристы и психологи) готовы проконсультировать Вас и помочь. Мы выигрываем суды, ведем психотерапию, даем справки, работаем официально и качественно.
                        </p>
                        `,

                    }, {
                        id: 2,
                        text: `
                            <p>
                                Наши специалисты (детские и семейные психологи) готовы проконсультировать Вас и Вашего ребенка по любым вопросам. Мы сотрудничаем с врачами и психиатрами, даем справки, работаем официально и качественно.
                            </p>`,
                    }, {
                        id: 3,
                        text: `
                            <p>
                            Наши специалисты могут провести экспертизу привязанности ребенка, влияния на него этих отношений и уровня стресса ребенка. При проведении обследования специалист даст подробные рекомендации. Работа возможна онлайн.
                            </p>
                            <br>
                            <div>
                                <a href="https://apokrov.ru/stoimost-psihologicheskoj-ekspertizy/">Условия проведения экспертизы</a>
                            </div>
                            <br>
                            <p>
                                Также наши специалисты (детские и семейные психологи) готовы проконсультировать Вас и Вашего ребенка.
                            </p>`,
                    }, {
                        id: 4,
                        text: `
                            <p>
                            Наши специалисты могут провести экспертизу привязанности ребенка, влияния на него этих отношений и уровня стресса ребенка. При проведении обследования специалист даст подробные рекомендации. 
                            </p>
                            <br>
                            <div>
                                <a href="https://apokrov.ru/stoimost-psihologicheskoj-ekspertizy/">Условия проведения экспертизы</a>
                            </div>
                            <br>
                            <p>
                            Также наши специалисты (детские и семейные психологи) готовы проконсультировать Вас и Вашего ребенка.
                            </p>`
                    }]
                }
            },

            computed: {
                test() {
                    return 'aaaa';
                },

                currentQuestion() {
                    return this.questions[this.activeStepId];
                },

                currentEnding() {
                    return this.endings[this.activeEnding];
                },
            },

            methods: {
                nextStep(answer) {
                    const yes = this.currentQuestion.yes;
                    const no = this.currentQuestion.no;
                    if (answer === 'yes') {
                        if (yes[0] === 'q') {
                            this.activeStepId = yes[1];
                        } else {
                            this.activeEnding = yes[1];
                            this.currentType = 'ending';
                        }
                    } else {
                        if (no[0] === 'q') {
                            this.activeStepId = no[1];
                        } else {
                            this.activeEnding = no[1];
                            this.currentType = 'ending';
                        }
                    }
                },
            },


        }).mount('#app')
    </script>
</body>

</html>